/* Media queries
-------------------------------------------------------------- */
@media screen and (max-width:1024px) {
    #logo {
        width: 100%;
        text-align: center;
    }

    #nav {
        width: 100%;
        text-align: center;
        margin: 15px 0;
    }

    .navigation {
        width: 100%;
        float: center;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .navigation li {
        float: left;
        width: 25%;
        padding: 0;
        font-weight: 700;
    }

    .navigation li+li {
        margin-left: 0!important;
    }

    .text-button {
        width: 100%;
    }

    .slide {
        background-attachment: fixed;
        width: 100%;
        position: relative;
        padding: 0;
    }

    #decorative {
        display: none;
    }

    #content {
        text-align: center;
        width: 100%;
    }

    #slide1 h1 {
        line-height: 1em;
        background: transparent!important;
    }

    #slide1 h2 {
        line-height: 1em;
    }

    #slide2 h1 {
        line-height: 1em;
        background: transparent!important;
    }

    #slide2 h2 {
        line-height: 1em;
    }

    #slide3 h1 {
        line-height: 1em;
        background: transparent!important;
    }

    #slide3 h2 {
        line-height: 1em;
    }

    #slide4 h1,#slide4 h2,#slide5 h1,#slide6 h1 {
        line-height: 1em;
        background: transparent!important;
    }
}

@media screen and (max-width:480px) {
    #logo {
        width: 100%;
        text-align: center;
    }

    #nav {
        width: 100%;
        margin: 15px 0;
    }

    .navigation {
        width: 100%;
        float: left;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .navigation li {
        float: left;
        width: 25%;
        font-weight: 700;
    }

    .navigation li+li {
        margin-left: 0!important;
    }

    .navigation li:last-child {
        padding-left: 12px;
    }

    .slide {
        background-attachment: fixed;
        width: 100%;
        height: auto;
        position: relative;
        padding: 0;
    }

    #slide1 h1 {
        line-height: 1em;
        background: transparent!important;
        font-size: 42px!important;
        padding: 20px 0 0!important;
    }

    #slide1 p {
        text-align: center!important;
    }

    #slide1 h2 {
        line-height: 1em;
    }

    #slide1 img {
        margin: 70px auto auto!important;
    }

    #slide2 h1 {
        padding-top: 0!important;
        line-height: 1em;
        font-size: 41px!important;
        background: transparent!important;
    }

    #slide2 h2,#slide6 h2 {
        line-height: 1em;
    }

    #slide2 h3,#slide6 h3 {
        padding-bottom: 8px!important;
    }

    .blog-thumb {
        display: none!important;
    }

    #slide3 h1 {
        padding-top: 0!important;
        line-height: 1em;
        background: transparent!important;
    }

    #slide3 h2 {
        line-height: 1em;
    }

    #slide4 {
        padding: 0!important;
    }

    #slide4 p {
        text-align: center!important;
    }

    #slide4 h1 {
        padding-top: 0!important;
        line-height: 1em;
        background: transparent!important;
    }

    #slide4 h2 {
        line-height: 1em;
        background: transparent!important;
    }

    #slide4 h3 {
        text-align: center!important;
    }

    #slide4 ul {
        display: inline-block!important;
        margin: 0 auto;
    }

    #slide5 p {
        margin: 12px auto!important;
        display: block!important;
        text-align: center!important;
    }

    #slide5 h1 {
        padding-top: 0!important;
        line-height: 1em;
        background: transparent!important;
    }

    #slide6 {
        padding: 0!important;
    }

    #slide6 h1 {
        line-height: 1em;
        font-size: 41px!important;
        background: transparent!important;
    }

    .tt-grid li {
        overflow-x: hidden!important;
        margin: 10px 0!important;
        width: 100%!important;
    }

    .tt-grid li:last-child {
        border-bottom: none!important;
    }
}