/* Global Variables, Mixins, Functions
-------------------------------------------------------------- */

// colors
$brand-main: #343f53; //dark blue
$brand-accent: #e67f6c; //organge
$brand-grey: #DBDBDB; //grey

//section colors
$bg-main: #8a8683;

//fonts
@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,700,600");
$font-body: 'Open Sans', Arial, Helvetica, sans-serif;