/* Main layout Style
-------------------------------------------------------------- */

/* global layouts
-------------------------------------------------------------- */
body {
    font-family: $font-body;
    font-weight: 400;
    font-size: 1em;
    color: $bg-main;
    background-color: #FFFCF7;
}

img {
    max-width: 100%;
}

a {
    -webkit-transition: all .15s ease-in-out;
    -moz-transition: all .15s ease-in-out;
    -o-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
}

a:link {
    color: #fff;
    text-decoration: none;
}

a:hover {
    color: #bde2df;
    text-decoration: none;
}

ul {
    list-style: none;
}

a:visited {
    color: #fff;
    text-decoration: none;
}

/* Navigation
-------------------------------------------------------------- */
.menu {
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    height: auto;
    background-color: #fff;
    z-index: 100;
    box-shadow: 0 1px 2px rgba(0,0,0,.25);
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.25);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.25);
    -o-box-shadow: 0 1px 2px rgba(0,0,0,.25);
    -ms-box-shadow: 0 1px 2px rgba(0,0,0,.25);
}

#logo {
    text-align: center;
    margin: 10px 0;
    width: 150px;
}

#nav {
    text-align: center;
    margin: 15px 0 0;
}

.navigation {
    float: left;
    list-style: none;
    margin: 0 0 15px 280px;
}

.navigation li,navigation li a {
    float: left;
    font-weight: 700;
    padding: 0 0 0 22px;
}

.navigation li+li {
    border-left: 1px solid #b3b3b3;
    margin-left: 22px;
}

.navigation li a:hover,.navigation li:hover {
    cursor: pointer;
    color: #a9d3d0;
}

.navigation .active,navigation .active a {
    cursor: pointer;
    font-weight: 700;
}

.navigation li a:link,.navigation li a:visited {
    color: #8a8683;
    text-decoration: none;
}

.navigation li a:hover {
    cursor: pointer;
    color: #a9d3d0;
}

#wpadminbar {
    display: none!important;
}



/* Slide 1
-------------------------------------------------------------- */
.slide {
    background-attachment: fixed;
    width: 100%;
    height: auto;
    position: relative;
    padding: 0;
}

#test {
    background-color: #555;
    color: #fff;
    text-align: center;
    font-size: 2em;
    font-weight: 400;
}

#slide1 {
    background: #fff;
}

#slide1 img {
    display: block;
    margin: 150px auto auto;
    opacity: .8;
    width: 75px;
    height: auto;
}

.animated {
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
}

.animated.bounceIn {
    -webkit-animation-name: bounceIn;
    -moz-animation-name: bounceIn;
    -o-animation-name: bounceIn;
    animation-name: bounceIn;
}

#slide1 h1 {
    display: block;
    background: transparent url(../images/divider.png) 0 35px repeat-x;
    font-size: 3.1em;
    text-align: center;
    letter-spacing: -3px;
    padding-top: 0;
    margin: 1em 0 0;
    color: #666;
    font-weight: 100;
}

#slide1 #push {
    margin-top: -55px;
}

#slide1 h1 span {
    background: #fff;
    display: inline-block;
    padding: 0 10px;
}

#slide1 h1 span i {
    letter-spacing: -3px;
    padding: 0;
    color: #666;
    font-weight: 400;
}

#slide1 h1 span i:after {
    content: ' . ';
    margin-left: -5px;
    color: #e67f6c;
    font-size: .9em;
}

#slide1 h3 {
    font-size: 1em;
    color: #666;
    line-height: 0;
    padding-bottom: 20px;
    font-weight: 400;
}

#slide1 p,#slide1 p a,#slide1 p a:visited {
    color: #666;
    font-size: 1.1em;
    line-height: 1.5em;
    margin: 1em 0 4em;
}

#slide1 p span {
    font-weight: 700;
}


/* Slide 2
-------------------------------------------------------------- */
#slide2 {
    background: #343f53;
    color: #DBDBDB;
    padding: 0 0 6em;
    margin-top: -8px;
}

#slide2 h1 {
    display: block;
    background: transparent url(../images/divider.png) 0 73px repeat-x;
    font-size: 3.1em;
    text-align: center;
    letter-spacing: -3px;
    padding-top: 35px;
    padding-bottom: 15px;
    margin: 1em 0 0;
    color: #fff;
    font-weight: 100;
}

#slide2 h1 span {
    background: #343f53;
    display: inline-block;
    padding: 0 10px;
}

#slide2 h1 span i {
    letter-spacing: -3px;
    padding-top: 85px;
    color: #fff;
    text-shadow: 1px 2px 1px #696969;
    font-weight: 700;
}

#slide2 h1 span:after {
    content: ' . ';
    margin-left: -5px;
    color: #e67f6c;
    font-size: .9em;
}

#slide2 h3,#slide2 h3 .entry-title,.entry-title a,.entry-title a:visited {
    font-size: 1.3em;
    margin: 0;
    color: #e67f6c!important;
    line-height: 1.1;
    padding-bottom: 0;
    font-weight: 700;
}

#slide2 p {
    color: #DBDBDB;
    font-size: 1.1em;
    line-height: 1.5em;
    padding-bottom: 30px;
    margin: 0;
}

#slide2 p span {
    font-weight: 700;
}

#slide2 i {
    color: #e67f6c;
}

.text-button {
    display: inline-block;
    float: none;
    vertical-align: middle;
}

a.btn-txt {
    display: block;
    padding: 10px 15px;
    background-color: #e74c3c;
    font-size: 17px;
    line-height: 30px;
    font-weight: 700;
    color: #fff;
    text-align: center;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

a.btn-txt:hover {
    color: #fff;
    background-color: #ec7063;
}

.wp-post-image {
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    -o-border-radius: 150px;
    -ms-border-radius: 150px;
    max-width: 50px;
    height: 50px;
}

hr {
    margin-bottom: 40px!important;
}

time.entry-date {
    color: #DBDBDB;
    font-weight: 700;
}

time.entry-date:after {
    content: '';
    padding-right: 12px;
}

.tags-links,.tags-links a,.tags-links a:visited {
    color: #DBDBDB;
}

.blog-thumb {
    max-width: 50px;
    height: 50px;
    opacity: .5;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -ms-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
}

.blog-thumb:hover {
    opacity: 1;
    -webkit-transform: scale(1.2,1.2);
    -moz-transform: scale(1.2,1.2);
    -ms-transform: scale(1.2,1.2);
    -o-transform: scale(1.2,1.2);
    transform: scale(1.2,1.2);
}



/* Slide 3
-------------------------------------------------------------- */
#slide3 {
    background: #fff;
    color: #666;
    margin-top: -16px;
    padding: 0 0 4em;
}

#slide3 h1 {
    display: block;
    background: transparent url(../images/divider.png) 0 73px repeat-x;
    font-size: 3.1em;
    text-align: center;
    letter-spacing: -3px;
    padding-top: 35px;
    padding-bottom: 15px;
    margin: 1em 0 0;
    color: #666;
    font-weight: 100;
}

#slide3 h1 span {
    background: #fff;
    display: inline-block;
    padding: 0 10px;
}

#slide3 h1 span i {
    letter-spacing: -3px;
    padding-top: 85px;
    color: #666;
    text-shadow: 1px 2px 1px #dbdbdb;
    font-weight: 700;
}

#slide3 h1 span:after {
    content: ' . ';
    margin-left: -5px;
    color: #e67f6c;
    font-size: .9em;
}

#slide3 h3 {
    font-size: 1.5em;
    margin: 0;
    color: #666;
    line-height: 1.1;
    padding-bottom: 0;
    font-weight: 400;
}

#slide3 p {
    color: #fff;
    font-size: 1.1em;
    line-height: 1.5em;
    padding-bottom: 30px;
    margin: 0;
}

#slide3 p span {
    font-weight: 700;
}

#slide4 {
    background: #343f53;
    color: #666;
    padding: 0 0 4em;
}

#slide4 h1 {
    display: block;
    background: transparent url(../images/divider.png) 0 73px repeat-x;
    font-size: 3.1em;
    text-align: center;
    letter-spacing: -3px;
    padding-top: 35px;
    padding-bottom: 15px;
    margin: 1em 0 0;
    color: #fff;
    font-weight: 100;
}

#slide4 h1 span {
    background: #343f53;
    display: inline-block;
    padding: 0 10px;
}

#slide4 h1 span i {
    font-size: inherit;
    letter-spacing: -3px;
    padding-top: 85px;
    color: #fff;
    text-shadow: 1px 2px 1px #696969;
    font-weight: 700;
}

#slide4 h1 span:after {
    content: ' . ';
    margin-left: -5px;
    color: #e67f6c;
    font-size: .9em;
}

#slide4 h3 {
    font-size: 1.5em;
    margin: 0;
    color: #fff;
    line-height: 1.1;
    padding-bottom: 10px;
    font-weight: 700;
}

#slide4 p {
    color: #DBDBDB;
    font-size: 1.1em;
    line-height: 1.5em;
    padding-bottom: 30px;
    margin: 0;
}

#slide4 p span {
    font-weight: 700;
}

#slide4 a {
    color: #DBDBDB;
    text-decoration: underline;
}

#slide4 li,#slide4 ul {
    list-style: none;
    display: inline;
    margin: 0 auto;
    text-decoration: none;
}

#slide4 i {
    color: #DBDBDB;
    font-size: 30px;
    text-decoration: none;
    padding-left: 6px;
}

#slide5 {
    background: #343f53;
    color: #fff;
    margin-bottom: -12px;
    box-shadow: 0 0 1px 0 #616161;
    -webkit-box-shadow: 0 0 1px 0 #616161;
    -moz-box-shadow: 0 0 1px 0 #616161;
    -o-box-shadow: 0 0 1px 0 #616161;
    -ms-box-shadow: 0 0 1px 0 #616161;
}

#slide5 p {
    color: #fff;
    margin: 10px 0 0;
    font-size: .8em;
    font-weight: 400;
}

#slide5 p span {
    font-weight: 100;
}

#slide6 {
    background: #343f53;
    min-height: 850px;
    color: #fff;
    padding: 0 0 6em;
    margin-top: -8px;
}

#slide6 h1 {
    display: block;
    background: transparent url(../images/divider.png) 0 113px repeat-x;
    font-size: 3.1em;
    text-align: center;
    letter-spacing: -3px;
    padding-top: 80px;
    padding-bottom: 15px;
    margin: 1em 0 0;
    color: #fff;
    font-weight: 100;
}

#slide6 h1 span {
    background: #343f53;
    display: inline-block;
    padding: 0 10px;
}

#slide6 h1 span i {
    letter-spacing: -3px;
    padding-top: 85px;
    color: #fff;
    text-shadow: 1px 2px 1px #696969;
    font-weight: 700;
}

#slide6 h1 span:after {
    content: ' . ';
    margin-left: -5px;
    color: #e67f6c;
    font-size: .9em;
}

#slide6 h3,#slide6 h3 .entry-title,.entry-title a,.entry-title a:visited {
    font-size: 1.3em;
    margin: 0;
    color: #e67f6c!important;
    line-height: 1.1;
    padding-bottom: 0;
    font-weight: 700;
}

#slide6 p {
    color: #DBDBDB;
    font-size: 1.1em;
    line-height: 1.5em;
    padding-bottom: 30px;
    margin: 0;
}

#slide6 p span {
    font-weight: 700;
}

#slide6 i {
    color: #e67f6c;
}

#sidebar {
    width: 280px;
    height: 300px;
    position: fixed;
    right: 0;
    top: 180px;
    padding: 5px;
    margin: 0 0 0 110px;
    background: #f7f7f7;
    box-shadow: 0 0 2px #d5d5d5;
    -webkit-box-shadow: 0 0 2px #d5d5d5;
    -moz-box-shadow: 0 0 2px #d5d5d5;
    z-index: 9999999;
}

#sidebar h3 {
    font-size: inherit;
    color: #444;
    text-align: center;
}

#sidebar ul {
    list-style: none;
    padding: 10px;
}



.title {
    display: block;
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 5px;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    text-shadow: 0 1px 1px #555;
    background: #666;
    opacity: .9;
}

.title:hover {
    background: #222;
    text-shadow: 0 1px 1px #222;
    opacity: 1;
}

*,::before,:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.tt-grid {
    position: relative;
    margin: 20px auto;
    padding: 0;
    max-width: 960px;
    list-style: none;
    text-align: center;
    font-size: 0;
}

.tt-grid:after,.tt-grid:before {
    display: table;
    content: ' ';
}

.tt-grid:after {
    clear: both;
}

.tt-grid li {
    position: relative;
    display: inline-block;
    margin: 10px;
    width: 300px;
    height: 225px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.tt-grid li a,.tt-grid li a img {
    display: block;
    margin: 0 auto;
}

.tt-grid li a {
    background: #000;
    position: absolute;
    top: 0;
    left: 0;
}

.tt-grid li a:nth-child(2) {
    z-index: 1;
    visibility: hidden;
}

.tt-grid-wrapper nav {
    text-align: center;
}

.tt-grid-wrapper nav a {
    display: inline-block;
    margin: 0 8px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: #666;
    cursor: pointer;
    opacity: .7;
    -webkit-transition: all .2s;
    transition: all .2s;
}

.touch .tt-grid-wrapper nav a {
    width: 30px;
    height: 30px;
}

.tt-grid-wrapper nav a:hover {
    opacity: 1;
}

.tt-grid-wrapper nav a.tt-current {
    opacity: 1;
    box-shadow: 0 0 0 5px #919191;
}

.tt-grid.tt-effect-active li a {
    pointer-events: none;
}

.tt-effect-fall.tt-effect-active li:not(.tt-empty) a:first-child {
    -webkit-animation: fallDown .6s forwards;
    animation: fallDown .6s forwards;
}

.tt-effect-fall.tt-effect-active li a:nth-child(2),.tt-effect-fall.tt-effect-active li.tt-empty a {
    opacity: 0;
    -webkit-animation: scaleUpFadeIn .6s forwards;
    animation: scaleUpFadeIn .6s forwards;
}

.tt-effect-slide.tt-effect-active li:not(.tt-empty) a:first-child {
    z-index: 100;
    overflow: hidden;
    margin: 0;
    -webkit-animation: slideOut .5s forwards;
    animation: slideOut .5s forwards;
}

.tt-effect-slide.tt-effect-active a:nth-child(2) {
    visibility: visible;
}

.tt-effect-slide.tt-effect-active li:not(.tt-empty) a:only-child {
    -webkit-animation: fadeOut .5s forwards;
    animation: fadeOut .5s forwards;
}

.tt-effect-slide.tt-effect-active li.tt-empty a {
    -webkit-animation: fadeIn .5s forwards;
    animation: fadeIn .5s forwards;
}

.tt-effect-fallrotate.tt-effect-active li:not(.tt-empty) a:first-child {
    z-index: 10;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-animation: fallRotate .6s ease-in forwards;
    animation: fallRotate .6s ease-in forwards;
}

.tt-effect-fallrotate.tt-effect-active li a:nth-child(2),.tt-effect-fallrotate.tt-effect-active li.tt-empty a {
    visibility: visible;
}

.tt-effect-fallrotate.tt-effect-active li.tt-empty a {
    opacity: 0;
    -webkit-animation: fadeIn .6s forwards;
    animation: fadeIn .6s forwards;
}

.tt-effect-fallrotate li:nth-child(4) {
    z-index: 1;
}

.tt-effect-fallrotate li:nth-child(5) {
    z-index: 2;
}

.tt-effect-fallrotate li:nth-child(6) {
    z-index: 3;
}

.tt-effect-fallrotate li:first-child {
    z-index: 4;
}

.tt-effect-fallrotate li:nth-child(2) {
    z-index: 5;
}

.tt-effect-fallrotate li:nth-child(3) {
    z-index: 6;
}

.tt-effect-scalerotate.tt-effect-active li:not(.tt-empty) a:first-child {
    -webkit-animation: scaleRotateOut .6s forwards;
    animation: scaleRotateOut .6s forwards;
}

.tt-effect-scalerotate.tt-effect-active li a:nth-child(2),.tt-effect-scalerotate.tt-effect-active li.tt-empty a {
    opacity: 0;
    -webkit-animation: scaleRotateIn .6s forwards;
    animation: scaleRotateIn .6s forwards;
}

.tt-effect-scalerotate.tt-effect-active li:not(.tt-empty) a:only-child {
    -webkit-animation: fadeOut .6s forwards;
    animation: fadeOut .6s forwards;
}

.tt-effect-scalerotate li:nth-child(-n+3) {
    z-index: 2;
}

.tt-effect-scalerotate li:nth-last-child(-n+3) {
    z-index: 1;
}

.tt-effect-stackback li {
    -webkit-perspective: 1000px;
    perspective: 1000px;
}

.tt-effect-stackback li a {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.tt-effect-stackback.tt-effect-active li:not(.tt-empty) a:first-child {
    -webkit-animation: moveLeft .8s forwards;
    animation: moveLeft .8s forwards;
}

.tt-effect-stackback.tt-effect-active li a:nth-child(2),.tt-effect-stackback.tt-effect-active li.tt-empty a {
    z-index: -1;
    -webkit-animation: popUp .8s ease-in forwards;
    animation: popUp .8s ease-in forwards;
}

.tt-effect-stackback.tt-effect-active li:not(.tt-empty) a:only-child {
    -webkit-animation: fadeOut .8s forwards;
    animation: fadeOut .8s forwards;
}

.tt-effect-stackback.tt-effect-active li.tt-empty a {
    opacity: 0;
    -webkit-animation: fadeIn .8s forwards;
    animation: fadeIn .8s forwards;
}

.tt-effect-3dflip li {
    -webkit-perspective: 1000px;
    perspective: 1000px;
}

.tt-effect-3dflip li a {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.tt-effect-3dflip.tt-effect-active li:not(.tt-empty) a:first-child {
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-animation: rotateOutLeft .6s forwards;
    animation: rotateOutLeft .6s forwards;
}

.tt-effect-3dflip.tt-effect-active li a:nth-child(2),.tt-effect-3dflip.tt-effect-active li.tt-empty a {
    opacity: 0;
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    -webkit-animation: rotateInRight .6s ease-in forwards;
    animation: rotateInRight .6s ease-in forwards;
}

.tt-effect-bringback li {
    -webkit-perspective: 1000px;
    perspective: 1000px;
}

.tt-effect-bringback li a {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.tt-effect-bringback.tt-effect-active li:not(.tt-empty) a:first-child {
    -webkit-animation: hideLeft .8s forwards;
    animation: hideLeft .8s forwards;
}

.tt-effect-bringback.tt-effect-active li a:nth-child(2) {
    z-index: -1;
    -webkit-animation: showRight .8s forwards;
    animation: showRight .8s forwards;
}

.tt-effect-bringback.tt-effect-active li:not(.tt-empty) a:only-child {
    -webkit-animation: fadeOut .8s forwards;
    animation: fadeOut .8s forwards;
}

.tt-effect-bringback.tt-effect-active li.tt-empty a {
    opacity: 0;
    -webkit-animation: fadeIn .8s forwards;
    animation: fadeIn .8s forwards;
}

.tt-effect-superscale.tt-effect-active li:not(.tt-empty) a:first-child {
    -webkit-animation: scaleDown .6s ease-in-out forwards;
    animation: scaleDown .6s ease-in-out forwards;
}

.tt-effect-superscale.tt-effect-active li a:nth-child(2),.tt-effect-superscale.tt-effect-active li.tt-empty a {
    opacity: 0;
    -webkit-animation: scaleIn .6s ease-in-out forwards;
    animation: scaleIn .6s ease-in-out forwards;
}

.tt-effect-flip li {
    -webkit-perspective: 1500px;
    perspective: 1500px;
}

.tt-effect-flip li a {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.tt-effect-flip.tt-effect-active li:not(.tt-empty) a:first-child {
    -webkit-animation: flipOut .8s ease-in forwards;
    animation: flipOut .8s ease-in forwards;
}

.tt-effect-flip.tt-effect-active li a:nth-child(2),.tt-effect-flip.tt-effect-active li.tt-empty a {
    opacity: 0;
    -webkit-animation: flipIn .8s ease-in forwards;
    animation: flipIn .8s ease-in forwards;
}

.tt-effect-frontrow li {
    overflow: hidden;
}

.tt-effect-frontrow.tt-effect-active li:not(.tt-empty) a:first-child {
    -webkit-animation: moveToBack .8s forwards;
    animation: moveToBack .8s forwards;
}

.tt-effect-frontrow.tt-effect-active li a:nth-child(2),.tt-effect-frontrow.tt-effect-active li.tt-empty a {
    -webkit-animation: moveToFront .8s forwards;
    animation: moveToFront .8s forwards;
}

.tt-effect-frontrow.tt-effect-active li.tt-empty a {
    opacity: 0;
}

.tt-effect-frontrow.tt-effect-active li:not(.tt-empty) a:only-child {
    -webkit-animation: fadeOut .5s forwards;
    animation: fadeOut .5s forwards;
}

.tt-grid-wrapper .tt-effect-delay.tt-effect-active li:nth-child(2) a {
    -webkit-animation-delay: .1s;
    animation-delay: .1s;
}

.tt-grid-wrapper .tt-effect-delay.tt-effect-active li:nth-child(3) a {
    -webkit-animation-delay: .2s;
    animation-delay: .2s;
}

.tt-grid-wrapper .tt-effect-delay.tt-effect-active li:nth-child(4) a {
    -webkit-animation-delay: .3s;
    animation-delay: .3s;
}

.tt-grid-wrapper .tt-effect-delay.tt-effect-active li:nth-child(5) a {
    -webkit-animation-delay: .4s;
    animation-delay: .4s;
}

.tt-grid-wrapper .tt-effect-delay.tt-effect-active li:nth-child(6) a {
    -webkit-animation-delay: .5s;
    animation-delay: .5s;
}

.tt-grid-wrapper .tt-effect-delay-reversed.tt-effect-active li:nth-child(5) a {
    -webkit-animation-delay: .1s;
    animation-delay: .1s;
}

.tt-grid-wrapper .tt-effect-delay-reversed.tt-effect-active li:nth-child(4) a {
    -webkit-animation-delay: .2s;
    animation-delay: .2s;
}

.tt-grid-wrapper .tt-effect-delay-reversed.tt-effect-active li:nth-child(3) a {
    -webkit-animation-delay: .3s;
    animation-delay: .3s;
}

.tt-grid-wrapper .tt-effect-delay-reversed.tt-effect-active li:nth-child(2) a {
    -webkit-animation-delay: .4s;
    animation-delay: .4s;
}

.tt-grid-wrapper .tt-effect-delay-reversed.tt-effect-active li:nth-child(1) a {
    -webkit-animation-delay: .5s;
    animation-delay: .5s;
}

@-webkit-keyframes fallDown {
    to {
        opacity: 0;
        -webkit-transform: translateY(70%);
    }
}

@keyframes fallDown {
    to {
        opacity: 0;
        transform: translateY(70%);
    }
}

@-webkit-keyframes scaleUpFadeIn {
    from {
        opacity: 0;
        -webkit-transform: scale(0.8);
    }

    to {
        visibility: visible;
        opacity: 1;
        -webkit-transform: scale(1);
    }
}

@keyframes scaleUpFadeIn {
    from {
        opacity: 0;
        transform: scale(0.8);
    }

    to {
        visibility: visible;
        opacity: 1;
        transform: scale(1);
    }
}

@-webkit-keyframes slideOut {
    from {
        width: 100%;
    }

    to {
        width: 0;
    }
}

@keyframes slideOut {
    from {
        width: 100%;
    }

    to {
        width: 0;
    }
}

@-webkit-keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-webkit-keyframes fallRotate {
    0% {
        -webkit-transform: translateY(0%) rotate(0deg);
        -webkit-animation-timing-function: ease-in;
    }

    40% {
        -webkit-transform: translateY(0%) rotate(20deg);
        -webkit-animation-timing-function: ease-out;
    }

    60% {
        -webkit-transform: translateY(0%) rotate(15deg);
        opacity: 1;
    }

    100% {
        -webkit-transform: translateY(150%) rotate(17deg);
        opacity: 0;
    }
}

@keyframes fallRotate {
    0% {
        transform: translateY(0%) rotate(0deg);
        animation-timing-function: ease-in;
    }

    40% {
        transform: translateY(0%) rotate(20deg);
        animation-timing-function: ease-out;
    }

    60% {
        transform: translateY(0%) rotate(15deg);
        opacity: 1;
    }

    100% {
        transform: translateY(150%) rotate(17deg);
        opacity: 0;
    }
}

@-webkit-keyframes scaleRotateOut {
    100% {
        opacity: 0;
        -webkit-transform: scale(0);
    }
}

@keyframes scaleRotateOut {
    100% {
        opacity: 0;
        transform: scale(0);
    }
}

@-webkit-keyframes scaleRotateIn {
    0% {
        opacity: 0;
        -webkit-transform: translateX(50%) translateY(100%) rotate(25deg);
    }

    100% {
        visibility: visible;
        opacity: 1;
        -webkit-transform: translateX(0%) translateY(0%) rotate(0deg);
    }
}

@keyframes scaleRotateIn {
    0% {
        opacity: 0;
        transform: translateX(50%) translateY(100%) rotate(25deg);
    }

    100% {
        visibility: visible;
        opacity: 1;
        transform: translateX(0%) translateY(0%) rotate(0deg);
    }
}

@-webkit-keyframes moveLeft {
    50% {
        opacity: 1;
        -webkit-transform: translateX(-100%) rotateY(35deg) rotateX(10deg);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateX(0%) rotateY(0deg) rotateX(0deg);
    }
}

@keyframes moveLeft {
    50% {
        opacity: 1;
        transform: translateX(-100%) rotateY(35deg) rotateX(10deg);
    }

    100% {
        opacity: 1;
        transform: translateX(0%) rotateY(0deg) rotateX(0deg);
    }
}

@-webkit-keyframes popUp {
    0% {
        -webkit-transform: translateZ(-200px);
    }

    50% {
        z-index: -1;
    }

    51% {
        z-index: 1;
    }

    70% {
        z-index: 1;
        visibility: visible;
        -webkit-transform: translateZ(50px);
        -webkit-animation-timing-function: ease-out;
    }

    100% {
        z-index: 1;
        visibility: visible;
        -webkit-transform: translateZ(0px);
    }
}

@keyframes popUp {
    0% {
        transform: translateZ(-200px);
    }

    50% {
        z-index: -1;
    }

    51% {
        z-index: 1;
    }

    70% {
        z-index: 1;
        visibility: visible;
        transform: translateZ(50px);
        animation-timing-function: ease-out;
    }

    100% {
        z-index: 1;
        visibility: visible;
        transform: translateZ(0px);
    }
}

@-webkit-keyframes rotateOutLeft {
    100% {
        opacity: 0;
        -webkit-transform: rotateY(90deg);
    }
}

@keyframes rotateOutLeft {
    100% {
        opacity: 0;
        transform: rotateY(90deg);
    }
}

@-webkit-keyframes rotateInRight {
    0% {
        opacity: 0;
        -webkit-transform: rotateY(-90deg);
    }

    100% {
        visibility: visible;
        opacity: 1;
        -webkit-transform: rotateY(0deg);
    }
}

@keyframes rotateInRight {
    0% {
        opacity: 0;
        transform: rotateY(-90deg);
    }

    100% {
        visibility: visible;
        opacity: 1;
        transform: rotateY(0deg);
    }
}

@-webkit-keyframes hideLeft {
    0% {
        -webkit-transform: translateZ(0px);
    }

    40% {
        -webkit-transform: translate(-40%,0) scale(0.8) rotateY(20deg);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateZ(-400px);
    }
}

@keyframes hideLeft {
    0% {
        transform: translateZ(0px);
    }

    40% {
        transform: translate(-40%,0) scale(0.8) rotateY(20deg);
    }

    100% {
        transform: translateZ(-400px);
    }
}

@-webkit-keyframes showRight {
    0% {
        -webkit-transform: translateZ(-400px);
    }

    40% {
        z-index: -1;
        -webkit-transform: translate(40%,0) scale(0.8) rotateY(-20deg);
    }

    41% {
        z-index: 1;
    }

    100% {
        z-index: 1;
        visibility: visible;
        -webkit-transform: translateZ(0px);
    }
}

@keyframes showRight {
    0% {
        transform: translateZ(-400px);
    }

    40% {
        z-index: -1;
        transform: translate(40%,0) scale(0.8) rotateY(-20deg);
    }

    41% {
        z-index: 1;
    }

    100% {
        z-index: 1;
        visibility: visible;
        transform: translateZ(0px);
    }
}

@-webkit-keyframes scaleDown {
    100% {
        opacity: 0;
        -webkit-transform: scale(0);
    }
}

@keyframes scaleDown {
    100% {
        opacity: 0;
        transform: scale(0);
    }
}

@-webkit-keyframes scaleIn {
    0% {
        opacity: 0;
        -webkit-transform: scale(1.2);
    }

    100% {
        visibility: visible;
        opacity: 1;
        -webkit-transform: scale(1);
    }
}

@keyframes scaleIn {
    0% {
        opacity: 0;
        transform: scale(1.2);
    }

    100% {
        visibility: visible;
        opacity: 1;
        transform: scale(1);
    }
}

@-webkit-keyframes flipOut {
    100%,50% {
        opacity: 0;
        -webkit-transform: rotateY(90deg);
    }
}

@keyframes flipOut {
    100%,50% {
        opacity: 0;
        transform: rotateY(90deg);
    }
}

@-webkit-keyframes flipIn {
    0%,50% {
        opacity: 0;
        -webkit-transform: rotateY(-90deg);
    }

    75% {
        visibility: visible;
        opacity: 1;
        -webkit-transform: rotateY(15deg);
        -webkit-animation-timing-function: ease-in;
    }

    100% {
        visibility: visible;
        opacity: 1;
        -webkit-transform: rotateY(0deg);
    }
}

@keyframes flipIn {
    0%,50% {
        opacity: 0;
        transform: rotateY(-90deg);
    }

    75% {
        visibility: visible;
        opacity: 1;
        transform: rotateY(15deg);
        animation-timing-function: ease-in;
    }

    100% {
        visibility: visible;
        opacity: 1;
        transform: rotateY(0deg);
    }
}

@-webkit-keyframes moveToBack {
    100% {
        -webkit-transform: translateX(-60%) scale(.8);
    }
}

@keyframes moveToBack {
    100% {
        transform: translateX(-60%) scale(.8);
    }
}

@-webkit-keyframes moveToBack {
    100% {
        -webkit-transform: translateX(-60%) scale(.8);
    }
}

@-webkit-keyframes moveToFront {
    0% {
        -webkit-transform: translateX(100%) scale(.8);
    }

    100% {
        visibility: visible;
        opacity: 1;
        -webkit-transform: translateX(0%) scale(1);
    }
}

@keyframes moveToFront {
    0% {
        transform: translateX(100%) scale(.8);
    }

    100% {
        visibility: visible;
        opacity: 1;
        transform: translateX(0%) scale(1);
    }
}